@font-face {
  font-family: 'Merriweather';
  font-display: auto;
  font-weight: 700;
  src: local('Merriweather'), url(https://fonts.googleapis.com/css?family=Merriweather);
}
@import url('https://fonts.googleapis.com/css?family=Gochi Hand:400');
/*@import url('https://fonts.googleapis.com/css?family=Merriweather:700');*/
html {
     position: relative;
     min-height: 100%;
}
body {
    overflow: auto;
    heihgt: 100vh;
    color: #1f1f1f;
    background: linear-gradient(to bottom, #bada55, #c0ffee);
}
h1, h2 {
    font-family: 'Merriweather', serif;
    line-height: 1.1em;
    text-align: center;
    /*margin-bottom: 1.5rem;*/
}
h1 {
    font-size: 3.0rem;
}
h2 {
    font-size: 2.0rem;
}
h4 {
    text-align: right;
}
.logo {
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.8rem;
}
#circulo {
    width: 200px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1e7404;
}
p {
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
a {
    color: #1e7404;
    text-decoration: none;
    border-bottom: 1px dotted #1e7404;
}
abbr {
    text-decoration: none;
}
/*responsive*/

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    height: 100%;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .e1, .e2 {
        display: inline-flex;
        flex-direction: row;
    }
    .e1 {
        order: 1;
        width: 20%;
    }
    .e2 {
        order: 2;
        width: 70%;
    }
    footer {
        position: absolute;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 768px) {
    header .floatRight {
        float: center;
        text-align: center;
    }
    header .floatCenter ul li, .e1, .e2 {
        display: list-item;
        border-right: none;
    }
}
main {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}
section {
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}
header {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
}
footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #53a14d;
    border-top: 5px solid #1e7404;
    text-align: center;
}
.floatRight {
    float: right;
    text-align: right;
}
.floatCenter {
    float: center;
    text-align: center;
}
.top {
    display: block;
    padding-bottom: 5px;
}
.img {
    max-width: 90%;
    display: block;
    padding-bottom: 5px;
}
.clip-svg {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.clip-svg {
    animation: clip 1s infinite;
}
@keyframes clip {
    0% {
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }
    50% {
        clip-path: polygon(83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%, 50% 0%);
    }
    100% {
        clip-path: polygon(100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%, 50% 0%, 83% 12%);
    }
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid;
}
nav ul li:last-child {
    padding-right: 0;
    border-right: none;
}
nav ul li:first-child {
    padding-left: 0;
}
nav ul li a, nav ul li a:hover {
    border-bottom: none;
}
nav ul li a:active, nav ul li a:hover {
    border-bottom: 2px solid #1e7404;
}
button {
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px 30px;
    background-color: #53a14d;
    text-transform: uppercase;
    width: auto;
    transition: background-color 0.4s ease-out;
}
button:hover {
    background-color: #90ce0f;
    box-shadow: 0 5px 10px #53a14d, 0 3px 6px transparent;
    transition-duration: 2s;
}
.tinDownIn {
    -webkit-animation-name: tinDownIn;
    animation: tinDownIn 3s;
}
@-webkit-keyframes tinDownIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1, 1) translateY(900%);
        transform: scale(1, 1) translateY(900%);
    }
    50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1, 1.1) translateY(0);
        transform: scale(1.1, 1.1) translateY(0);
    }
    60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
    }
}
@keyframes tinDownIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1, 1) translateY(900%);
        transform: scale(1, 1) translateY(900%);
    }
    50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1, 1.1) translateY(0);
        transform: scale(1.1, 1.1) translateY(0);
    }
    60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: scale(1, 1) translateY(0);
        transform: scale(1, 1) translateY(0);
    }
}
.slideRight {
    -webkit-animation-name: slideRight;
    animation: slideRight 2s;
}
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}
@keyframes slideRight {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}
